a,
button,
input,
textarea:active,
:hover,
:focus {
  outline: 0;
  outline-offset: 0;
  box-shadow: none;
  border: 0;
}

body {
  color: #000;
  overflow-x: hidden;
  font-family: font-family: 'Nunito', sans-serif;
  font-family: 'Playfair Display', serif;
  font-size: 10px;
}

.container {
  width: 1170px;
  margin: 0 auto;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
}

.navbar__logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
}

.navbar__menu ul {
  display: flex;
  list-style-type: none;
}

.navbar__menu ul li {
  margin-right: 35px;
}

.navbar__menu ul li a {
  font-size: 1.6rem;
  font-family: 'Nunito', sans-serif;
  font-weight: normal;
  color: #000;
  text-decoration: none;
  text-transform: uppercase;
}

.navbar__menu ul li a:hover {
  border-bottom: 3px solid #E10000;
}

h1 {
  font-family: Playfair Display;
  font-style: normal;
  font-weight: bold;
  font-size: 72px;
  line-height: 96px;
  text-transform: uppercase;
  color: #000000;
  padding-top: 170px;
  margin-bottom: 75px;
}

.slider__item p {
  font-family: Nunito;
  font-weight: normal;
  font-size: 36px;
  line-height: 49px;
  color: #394265;
  padding-bottom: 75px;
}

.slider__border {
  width: 269px;
  height: 35px;
  left: 376px;
  top: 616px;
  margin-bottom: 260px;
  background: #E10000;
  left: 25.7%;
}

.filter__one {
  position: relative;
  background: url(img/bg1.jpg) no-repeat top center;
  background-size: cover;
}

.filter__two {
  position: relative;
  background: url(img/bg2.jpg) no-repeat top center;
  background-size: cover;
}

.filter__three {
  position: relative;
  background: url(img/bg3.jpg) no-repeat top center;
  background-size: cover;
}

/* Слайдер */
.slick-slider {
  min-width: 0;
}

/* Ограничивающая оболочка */
.slick-list {
  overflow: hidden;
}

/* Лента слайдов */
.slick-track {
  display: flex;
  align-items: flex-start;
}

/* Стрелка */
.slick-arrow {
  border: 0;
}

/* Стрелка влево */
.slick-arrow.slick-prev {
  border: 0;
}

/* Стрелка вправо */
.slick-arrow.slick-next {
  border: 0;
}

/* Точки */
.slick-dots {
  border: 0;
  padding: 0;
}

.slick-dots li {

  border: 0;
}

.slick-dots button {
  border: 0;
}

.slider .slick-arrow.slick-disabled {
  opacity: 0.1;
}

/* Конкретный слайдер */
.slider {
  position: relative;
  padding: 0px 0px;
}

/* стрелки */
.slider .slick-arrow {
  position: absolute;
  top: 50%;
  margin: -30px 0px 0px 0px;
  z-index: 10;
  font-size: 0;
  width: 30px;
  height: 60px;
}

.slider .slick-arrow.slick-prev {
  left: 0;
  background: url(../img/sl-arrow_l.svg) 0 0/100% no-repeat;
}

.slider .slick-arrow.slick-next {
  right: 0;
  background: url(../img/sl-arrow_r.svg) 0 0/100% no-repeat;
}

.slider .slick-dots {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 45px;
  margin-top: 30px;
}

.slider .slick-dots li {
  list-style: none;
  margin: 0px 10px;
}

.slider .slick-dots button {
  font-size: 0;
  width: 15px;
  height: 15px;
  background-color: #DADADA;
  border-radius: 50%;
  outline: none;
}

.slider .slick-dots li.slick-active button {
  background-color: #E10000;
}

footer {
  background: #303030;
  padding: 30px 0;
}

.footer__text {
  display: flex;
  justify-content: space-between;
}

.footer__text p {
  font-family: Nunito;
  font-weight: normal;
  font-size: 1.2rem;
  line-height: 19px;
  text-transform: uppercase;
  color: #FFFFFF;
}

.footer__text ul {
  display: flex;
  list-style-type: none;
}

.footer__text ul li {
  margin-right: 30px;
}

.footer ul li:last-child {
  margin-right: 0px;
}

.footer__text ul li a {
  text-decoration: none;
  font-family: Nunito;
  font-weight: normal;
  font-size: 1.2rem;
  line-height: 19px;
  text-transform: uppercase;
  color: #FFFFFF;
}

.footer__text ul li a:hover {
  border-bottom: 3px solid #E10000;
}

.services>h1:nth-child(1) {
  margin-top: 0px;
}

.services__container {
  background: url(img/srvices.jpg) no-repeat top center;
  background-size: cover;
}

.services__text {
  width: 1100px;
  font-family: Nunito;
  font-weight: normal;
  font-size: 1.6rem;
  color: #394265;
  line-height: 22px;
  margin-bottom: 30px;
  line-height: 1.4;
}

.services__wrap {
  padding-bottom: 380px;
}

.contacts {
  display: flex;
  justify-content: space-between;
}

.contacts__container {
  background: url(img/contact.jpg) no-repeat top center;
  background-size: cover;
}

.contacts__geo {
  margin-bottom: 80px;
  margin-top: 100px;
  display: flex;
}

.contacts__geo ul {
  list-style-type: none;
  justify-content: space-between;
}

.contacts__geo ul li {
  display: flex;
  align-items: center;
}

.contacts__geo ul li h4 {
  font-family: Nunito;
  font-weight: bold;
  font-size: 1.4rem;
  text-transform: uppercase;
  margin-bottom: 30px;
}

.contacts__geo ul li img {
  margin-right: 5px;
  width: 30px;
  height: 30px;
}

.contacts__geo ul li p {
  font-family: Nunito;
  font-weight: normal;
  font-size: 1.2rem;
  line-height: 1.2;
}

.contacts__map {
  margin-bottom: 200px;
}

.contacts form h2 {
  font-family: Playfair Display SC;
  font-weight: bold;
  font-size: 1.4rem;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  margin-bottom: 50px;

}

.contacts form {
  background: #fff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  width: 450px;
  padding: 60px 0 90px 0;
  margin-top: 130px;
  text-align: center;
}

.contacts form input {
  background: #3E4047;
  font-weight: normal;
  font-size: 1.2rem;
  padding: 25px;
  width: 250px;
  color: #DADADA;
  margin-bottom: 30px;
}

.contacts form button {
  padding: 25px;
  width: 300px;
  background: #E10000;
  color: #fff;
  font-family: Nunito;
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
  text-transform: uppercase;
  color: #FFFFFF;
}

.border__services {
  margin-bottom: 0;
  margin-top: 50px;
}
.popup-fade {

	display: none;

}

.popup-fade:before {

	content: '';

	background: #000;

	position: fixed; 

	left: 0;

	top: 0;

	width: 100%; 

	height: 100%;

	opacity: 0.7;

	z-index: 9999;

}

.popup {

	position: fixed;

	top: 20%;

	left: 50%;

	padding: 20px;

	width: 360px;

	margin-left: -200px;	

	background: #fff;

	z-index: 99999;

	opacity: 1;	

}

.popup-close {
color: #000;
	position: absolute;
font-size: 1rem;
  top: 10px;
  font-family: Nunito;
  right: 10px;
  font-family: Nunito;

}
.popup h4{
  font-size: 1.6rem;
  color: #E10000;
  font-family: Playfair Display SC;
  font-weight: bold; 
}
.popup p, .popup h5{
  font-size: 1.4rem;
  font-family: Nunito;
  font-weight: normal;
}
@media screen and (min-width:768px) and (max-width: 1170px) {
  .container {
    width: 760px;
  }

  body>header:nth-child(1)>div:nth-child(1)>nav:nth-child(1)>a:nth-child(1)>img:nth-child(1) {
    width: 250px;
  }

  .navbar__menu ul li a {
    font-size: 1.2rem;
  }

  nav {
    padding: 0px 0;
  }

  h1 {
    font-size: 52px;
    padding-top: 50px;
    margin-bottom: 35px;
  }

  .slider__item p {
    font-size: 26px;
    padding-bottom: 35px;
  }

  .slider__border {
    margin-bottom: 100px;
  }

  .slider .slick-dots {
    margin-bottom: 25px;
    margin-top: 20px;
  }

  .footer__text p {
    font-size: 1rem;
  }

  .footer__text ul li a {
    font-size: 1rem;
  }

  footer {
    padding: 20px 0;
  }

  .services__text {
    width: 90%;
    font-size: 1.2rem;
  }

  .services__wrap {
    padding-bottom: 80px;
  }

  .contacts__geo ul li h4 {
    font-size: 1rem;
    margin-bottom: 10px;
  }

  .contacts__geo {
    margin-bottom: 30px;
    margin-top: 50px;
    display: block;
  }

  .contacts__geo ul li p {
    font-size: 1rem;
  }

  .contacts form {
    width: 350px;
    padding: 40px 0 70px 0;
    margin-top: 60px;
  }

  .contacts__map {
    margin-bottom: 80px;
  }

  .contacts {
    justify-content: space-around;
  }

  .contacts__wrap {
    width: 50%;
  }

  .contacts__map>iframe:nth-child(1) {
    height: 200px;
  }

  .contacts__map>iframe:nth-child(1) {
    width: 380px;
  }

}

@media screen and (min-width:480px) and (max-width: 767px) {
  .container {
    width: 100%;
  }

  body.lock {
    overflow: hidden;
  }

  .navbar {
    height: 30px;
  }

  .header_burger {
    display: block;
    position: absolute;
    right: 20px;
    width: 30px;
    height: 20px;
    z-index: 10005;
  }

  .header_burger:before,
  .header_burger:after {
    content: "";
    background-color: #333333;
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    transition: all 0.3s ease 0s;
  }

  .header_burger:before {
    top: 0;
  }

  .header_burger:after {
    bottom: 0;
  }

  .header_burger span {
    position: absolute;
    background-color: #333333;
    left: 0;
    width: 100%;
    height: 2px;
    top: 9px;
  }

  .header_burger.active:before {
    transform: rotate(45deg);
    top: 9px;
  }

  .header_burger.active span {
    transform: scale(0);
    transition: all 0.3s ease 0s;
  }

  .header_burger.active:after {
    transform: rotate(-45deg);
    bottom: 9px;
  }

  .navbar__menu {
    position: fixed;
    top: -108%;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    padding: 60px 0 0 0;
    transition: all 0.5s ease 0s;
    background-color: #fff;
    text-align: center;

  }

  .navbar__menu.active {
    z-index: 10000;
    top: 0px;
  }

  .navbar__menu {
    display: block;
  }

  .navbar__menu ul li a {
    margin-right: 0px;
  }

  .navbar__menu ul li {
    font-size: 14px;
    margin-bottom: 15px;
  }

  .btn__one>p:nth-child(1) {
    margin-bottom: 0px;
  }

  .header_list {
    display: block;
  }

  body>header:nth-child(1)>div:nth-child(1)>nav:nth-child(1)>a:nth-child(1)>img:nth-child(1) {
    width: 300px;
  }

  h1 {
    font-size: 42px;
    padding-top: 50px;
    margin-bottom: 35px;
  }

  .slider__item p {
    font-size: 26px;
    padding-bottom: 35px;
  }

  .slider__border {
    width: 169px;
    height: 25px;
    margin-bottom: 100px;
  }

  .footer__text p {
    font-size: 1rem;
  }

  .footer__text ul li a {
    font-size: 1rem;
    margin-bottom: 15px;
  }

  .footer__text ul li {
    margin-bottom: 15px;
  }

  .footer__text {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .navbar__menu ul {
    flex-direction: column;
    margin-top: 50px;

  }

  .services__text {
    width: 98%;
    font-size: 1.2rem;
  }

  .services__wrap {
    padding-bottom: 40px;
  }

  .contacts {
    display: block;
  }

  .contacts__geo {
    ;
    display: flex;
    margin-bottom: 30px;
    margin-top: 40px;
    display: block;
  }

  .contacts__geo ul li h4 {
    font-size: 1.2rem;
    margin-bottom: 10px;
  }

  .contacts__map {
    margin-bottom: 30px;
  }

  .contacts__map>iframe:nth-child(1) {
    width: 100%;
  }

  .contacts form {
    padding: 40px 0 60px 0;
    margin-top: 30px;
    width: 99%;
  }

  .form__contacts {
    margin-bottom: 30px;
  }
  .popup {
    top: 50%;
    }
}

@media screen and (max-width: 479px) {
  .container {
    width: 96%;
  }

  body.lock {
    overflow: hidden;
  }

  .navbar {
    height: 30px;
  }

  .header_burger {
    display: block;
    position: absolute;
    right: 20px;
    width: 30px;
    height: 20px;
    z-index: 10005;
  }

  .header_burger:before,
  .header_burger:after {
    content: "";
    background-color: #333333;
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    transition: all 0.3s ease 0s;
  }

  .header_burger:before {
    top: 0;
  }

  .header_burger:after {
    bottom: 0;
  }

  .header_burger span {
    position: absolute;
    background-color: #333333;
    left: 0;
    width: 100%;
    height: 2px;
    top: 9px;
  }

  .header_burger.active:before {
    transform: rotate(45deg);
    top: 9px;
  }

  .header_burger.active span {
    transform: scale(0);
    transition: all 0.3s ease 0s;
  }

  .header_burger.active:after {
    transform: rotate(-45deg);
    bottom: 9px;
  }

  .navbar__menu {
    position: fixed;
    top: -108%;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    padding: 60px 0 0 0;
    transition: all 0.5s ease 0s;
    background-color: #fff;
    text-align: center;

  }

  .navbar__menu.active {
    z-index: 10000;
    top: 0px;
  }

  .navbar__menu {
    display: block;
  }

  .navbar__menu ul li a {
    margin-right: 0px;
  }

  .navbar__menu ul li {
    font-size: 14px;
    margin-bottom: 15px;
  }

  .btn__one>p:nth-child(1) {
    margin-bottom: 0px;
  }

  .header_list {
    display: block;
  }

  .navbar__menu ul {
    flex-direction: column;
    margin-top: 50px;
  }

  body>header:nth-child(1)>div:nth-child(1)>nav:nth-child(1)>a:nth-child(1)>img:nth-child(1) {
    width: 220px;
  }

  h1 {
    font-size: 28px;
    padding-top: 40px;
    margin-bottom: 25px;
  }

  .slider__item p {
    font-size: 26px;
    padding-bottom: 25px;
  }

  .slider__border {
    width: 169px;
    height: 25px;
    margin-bottom: 60px;
  }

  .slider .slick-dots {
    margin-bottom: 35px;
    margin-top: -20px;
  }

  .footer__text p {
    font-size: 1rem;
    display: flex;
    justify-content: center;
  }

  .footer__text ul li a {
    font-size: 1rem;
    margin-bottom: 15px;
  }

  .footer__text ul li {
    margin-bottom: 15px;
  }

  .footer__text {
    display: flex;
    flex-direction: column;
  }

  .footer__text ul {
    justify-content: center;
  }

  .services__text {
    width: 100%;
    font-size: 1.2rem;
    margin-bottom: 20px;
  }

  .services__wrap {
    padding-bottom: 40px;
  }

  .contacts {
    display: block;
  }

  .contacts__geo {
    display: block;
    margin-bottom: 20px;
    margin-top: 10px;
  }

  .contacts__geo ul li h4 {
    margin-bottom: 10px;
  }

  .contacts form {
    width: 100%;
    margin-top: 30px;
  }

  .contacts__map>iframe:nth-child(1) {
    width: 100%;
  }

  .contacts form h2 {
    font-size: 1.2rem;
    margin-bottom: 30px;
  }

  .contacts form input {
    padding: 15px;
    width: 220px;
  }

  .contacts form button {
    padding: 15px;
    width: 250px;
  }

  .contacts form {
    padding: 30px 0 50px 0;
  }

  .contacts form {
    margin-bottom: 30px;
  }

  .contacts__map {
    margin-bottom: 30px;
  }
  .popup {
    top: 50%;
    }
    .popup {
      width: 250px;
        left: 68%;
        
      }
}